{% extends 'base.html' %}

{% block title %}Pastebin{% endblock %}

{% block htitle %}Pastebin-Paste{% endblock %}

{% block page %}

<div class="container">
    <div id="paste">
        <form method="POST">
            {{ form.csrf_token() }}
            <table>
                <tr>
                    <th>
                        {{ form.poster.label() }}
                    </th>
                    <td>
                        {{ form.poster() }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.syntax.label() }}
                    </th>
                    <td>
                        {{ form.syntax() }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ form.content.label() }}
                    </th>
                    <td>
                        {{ form.content(id = 'pastebin_content') }}
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        {{ form.paste(id = 'pastebin_paste') }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}
