{% extends '/admin/base.html' %}
{% from "_macro/_formhelpers.html" import field_error %}

{% block page %}

    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" style="position:fixed;left:0%;">
        <div style="width: 200px;">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapseTrain">
                        <a class="accordion-toggle" href="#">ACM Train</a>
                    </div>
                    <div id="collapseTrain" class="panel-collapse collapse"
                        style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">引语</a></li>
                                <li><a href="#">学年</a></li>
                                <li><a href="#">添加</a></li>
                                <li><a href="#">编辑</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapseMatch">
                        <a class="accordion-toggle" href="#">ACM Match</a>
                    </div>
                    <div id="collapseMatch" class="panel-collapse collapse"
                        style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">引语</a></li>
                                <li><a href="#">赛季</a></li>
                                <li><a href="#">添加</a></li>
                                <li><a href="#">编辑</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapseTeam">
                        <a class="accordion-toggle" href="#">ACM Team</a>
                    </div>
                    <div id="collapseTeam" class="panel-collapse collapse"
                        style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">引语</a></li>
                                <li><a href="#">年级</a></li>
                                <li><a href="#">添加</a></li>
                                <li><a href="#">编辑</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapseCoach">
                        <a class="accordion-toggle" href="#">ACM Coach</a>
                    </div>
                    <div id="collapseCoach" class="panel-collapse collapse"
                        style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">引语</a></li>
                                <li><a href="#">教练</a></li>
                                <li><a href="#">添加</a></li>
                                <li><a href="#">编辑</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapseUser">
                        <a class="accordion-toggle" href="#">User Manage</a>
                    </div>
                    <div id="collapseUser" class="panel-collapse collapse"
                        style="height: 0px;">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">所有用户</a></li>
                                <li><a href="#">修改用户</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}