{% extends 'base.html' %}

{% block title %}Acm Show{% endblock %}

{% block page %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>ACM Coach</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>

          <div class="row">
              {% for u in users %}
              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="../static/images/AC_logo.jpg" alt="ACM">
                  <div class="caption">
                    <h3>{{ u.nickname }}</h3>
                    <p>{{ u.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>

        <div class="col-md-3" class="right">

            <div class="panel-group" id="accordion2">
                {% for u in users %}
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse"
                        data-parent="#accordion2" href="#collapse2015">
                        <a class="accordion-toggle" href="#">{{ u.nickname }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}