{% extends 'base.html' %}

{% block title %}Acm Show{% endblock %}

{% block page %}

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
            </div>
      </div><!--/row-->

    <div class="row row-offcanvas row-offcanvas-right">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="../static/images/AC_logo.jpg" alt="ACM">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                        <p><a class="btn btn-default" href="./Off Canvas Template for Bootstrap_files/Off Canvas Template for Bootstrap.html" role="button">View details »</a></p>
    {#                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                      </div>
                    </div>
                </div>
            </div>
      </div><!--/row-->

{% endblock %}