{% extends 'base.html' %}

{% block title %}Coach{% endblock %}

{% block htitle %}SDUTACM-Coach{% endblock %}

{% block page %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <div class="row">
              {% for u in users %}
              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="../static/images/AC_logo.jpg" alt="ACM">
                  <div class="caption">
                    <h3>{{ u.nickname }}</h3>
                    <p>{{ u.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <div class="col-md-3" class="right">
            <div class="panel-group" id="accordion2">
                {% for u in users %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" href="#">{{ u.nickname }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
