{% extends 'base-base.html' %}

{% block title %}Index{% endblock %}

{% block page %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center" style="font-size:45px; color:DimGray;">
                This is a team with dream!
			</h1>
			<div class="carousel slide" id="carousel-846360">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-846360">
					</li>
					<li data-slide-to="1" data-target="#carousel-846360" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-846360">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="" src="../../static/images/Bpic1.jpg" />
						<div class="carousel-caption">
							<h4>
                                第一块银牌—牡丹江
							</h4>
							<p>
                            2014年12月10日，在第39界ACM国际大学生程序设计竞赛亚洲区域赛牡丹江站上，SDUTACM实现了区域赛银牌零的突破。正如他们的队名一样，我们一直努力向前从未放弃：Never give up!
							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="" src="../../static/images/Bpic2.jpg" />
						<div class="carousel-caption">
							<h4>
                                第二块银牌—广州
							</h4>
							<p>
                            所谓好事成双，同年在第39界ACM国际大学生程序设计竞赛亚洲区域赛广州站上，紧跟学长学姐的步伐拿下又一枚银牌。追逐前人并超越前人是每一代SDUTACMer的梦想，这样我们才能不断进步：For the dream!
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="../../static/images/Bpic3.jpg" />
						<div class="carousel-caption">
							<h4>
                                第六届省赛—青岛
							</h4>
							<p>
                            2015年5月10日，山东省第六届ACM程序设计竞赛在青岛山科大举行。本次竞赛成为SDUTACM参赛队伍规模最大的一次，同时我们还第一次派出了我们的女队参赛，而且还是两支哦～
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-846360" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-846360" class="right carousel-control">›</a>
			</div>
            <h2 style="text-align: center"> We firmly believe that hero continues ! Keep trying, keep going !</h2>
			<div class="thumbnails">
				<div class="col-lg-4">
					<div class="thumbnail">
						<img alt="300x200" src="../../static/images/x_regional.jpg" />
						<div class="caption">
							<h3>
                                亚洲区域赛
							</h3>
							<p>
                            ACM-ICPC是由国际计算机界历史悠久、颇具权威性的组织ACM（国际计算机协会）主办的，世界上公认的规模最大、水平最高的国际大学生程序设计竞赛，其目的旨在使大学生展示运用计算机来分析问题和解决问题的能力。
							</p>
							<p>
								<a class="btn btn-primary" href="/regional">More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="thumbnail">
						<img alt="300x200" src="../../static/images/x_province.jpg" />
						<div class="caption">
							<h3>
                                山东省省赛
							</h3>
							<p>
                            山东省第六届ACM大学生程序设计竞赛由ACM授权、山东计算机学会主办，山东科技大学承办，浪潮集团冠名赞助。ACM竞赛是山东省大学计算机教育成果的直接体现，是信息企业与顶尖计算机人才对话的绝佳机会。
							</p>
							<p>
								<a class="btn btn-primary" href="/province">More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="thumbnail">
						<img alt="300x200" src="../../static/images/x_team.jpg" />
						<div class="caption">
							<h3>
                                SDUT集训队
							</h3>
							<p>
                            山东理工大学ACM集训队是一支有梦想的队伍，多年来在多方的努力和支持下，一步一步成长，实现了区域赛出线队伍的零突破、区域赛奖牌数的零突破、银牌数的零突破，将来还有可能实现金牌数的零突破甚至是迈向Final！
							</p>
							<p>
								<a class="btn btn-primary" href="/team">More</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
