{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block htitle %}SDUTACM-Team{% endblock %}

{% block page %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <div class="row">
              {% for t in teams %}
              <div class="col-md-6">
                <div class="thumbnail">
                  <img src="../static/images/AC_logo.jpg" alt="ACM">
                  <div class="caption">
                    <h3>{{ t.name }}</h3>
                    <p>
                        <span>{{ t.mem1.nickname }}</span>
                        <span>{{ t.mem2.nickname }}</span>
                        <span>{{ t.mem3.nickname }}</span>
                    </p>
                    <p>{{ t.description }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <div class="col-md-3" class="right">
            <div class="panel-group" id="accordion2">
                {% for t in teams %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" href="#">{{ t.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
